.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  
  ion-icon {
    color: var(--ion-color-medium);
    margin-bottom: 20px;
  }
  
  p {
    color: var(--ion-color-medium);
    margin-bottom: 20px;
  }
}

ion-segment {
  margin: 10px;
}

